/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

#dialog-room-edit {
    max-height: 95% !important;
    max-width: 85% !important;
    width: 80% !important;
    height: 90% !important;
    overflow: visible !important;
    top: 10px !important;
}

#dialog-select-member {
    max-height: 95% !important;
    max-width: 85% !important;
    width: 80% !important;
    height: 90% !important;
    overflow: visible !important;
    top: 10px !important;
}

.collapsible-body {
    margin-left: 2rem !important;
    padding-top: 0 !important;
}

redlabel {
    color: red;
}

/* Add your styles here */

.polled {
	height: 100px !important;
}

.adapter-body {
	overflow: hidden !important;
}